@import "../../../variables.scss";

// Header Layout Vars.
$header-height: 25vh;
$header-height-mobile: 15vh;
$header-h1-size: 2.5rem;
$header-h2-size: 1.5rem;

.HeaderContainer {
  height: $header-height;

  @media screen and (max-width: 800px) {
    height: $header-height-mobile;
  }
}

.Header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: #000;
  overflow: hidden;
  z-index: 1;

  > video {
    width: 100%;
    height: 100%;
    object-fit: cover;

    filter: brightness(0.45);
  }

  .overlay {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, #00000077);
  }
}

.Header.no-intro {
  height: $header-height;

  @media screen and (max-width: 800px) {
    height: $header-height-mobile;
  }
}

.Header.play-intro {
  animation: headerRevealAnimation $header-animation-length $the-magic-curve
    $header-animation-delay forwards;
}

.Header .HeaderContent {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: left $header-animation-length $the-magic-curve
      $header-animation-delay,
    transform $header-animation-length $the-magic-curve $header-animation-delay;

  @media screen and (max-width: 800px) {
    top: 10%;
    transform: translate(-50%, 0%);
  }
}

.Header .HeaderContent .HeaderTitle {
  background: none;
  color: white;

  h1 {
    font-size: 3.5rem;

    @media screen and (max-width: 800px) {
      font-size: 2.5rem;
    }
  }
  h2 {
    font-size: 2.5rem;
    color: #a8a283;

    @media screen and (max-width: 800px) {
      font-size: 1.5rem;
    }
  }

  h1,
  h2 {
    letter-spacing: 0.12em;
    white-space: pre;
    transition: all $header-animation-length $the-magic-curve
      $header-animation-delay;

    @media screen and (max-width: 800px) {
      margin-bottom: 0.5rem;
      white-space: inherit;
    }
  }
}

.Header.no-intro,
.Header.play-intro {
  .HeaderContent {
    left: 5%;
    transform: translate(0%, -50%);

    @media screen and (max-width: 800px) {
      transform: translate(0%, 0%);
    }

    .HeaderTitle {
      h1 {
        font-size: $header-h1-size;
      }
      h2 {
        font-size: $header-h2-size;
      }
    }
  }
}

.Header .NavContainer {
  position: absolute;
  bottom: 0;
}

.Header .IntroFooter {
  position: absolute;
  bottom: 5vh;
  left: 50%;
  transform: translateX(-50%);
}

.Header .IntroFooter button {
  padding: 0.85rem 1.85rem;

  cursor: pointer;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  font-size: 1.3rem;
  text-transform: uppercase;
}

.Header .IntroFooter.fade-out {
  animation: IntroFooter_fadeOut $header-animation-length ease-out forwards;
}

// Animations.
@keyframes IntroFooter_fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes headerRevealAnimation {
  from {
    height: 100%;
  }
  to {
    height: $header-height;
    @media screen and (max-width: 800px) {
      height: $header-height-mobile;
    }
  }
}
