@import "../../../variables.scss";

.NavBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.NavBar .NavList {
  margin: 0;
  padding: 0;
  list-style: none;

  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.NavBar .NavList .NavItem {
  margin: 1rem 2rem;
  opacity: 0;
  transform: scale(0.75);

  &.animate-in {
    animation: navItemIn 1s ease-out
      calc(var(--offset) + #{$navbar-delay-start}) forwards;
  }
}

@keyframes navItemIn {
  from {
    opacity: 0;
    transform: scale(0.85);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
